body{
  font-family: Arial;
  background:#0d1117;
  color:white;
  text-align:center;
  padding:40px;
}
button{
  padding:12px 20px;
  font-size:16px;
  background:#00ff99;
  border:none;
  margin:10px;
  cursor:pointer;
}
input{
  padding:10px;
  width:300px;
}
